
html, body {
    min-height:100%;
    padding: 0;
    margin: 0;
}

html {position:absolute;}

body {
    background: rgb(69,167,52); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,167,52,1) 0%, rgba(78,241,85,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,167,52,1)), color-stop(100%,rgba(78,241,85,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,167,52,1) 0%,rgba(78,241,85,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,167,52,1) 0%,rgba(78,241,85,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,167,52,1) 0%,rgba(78,241,85,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,167,52,1) 0%,rgba(78,241,85,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45a734', endColorstr='#4ef155',GradientType=0 ); /* IE6-9 */
    min-height:100%;
    font-family: 'Open Sans', sans-serif;
    color: #575757;
    min-width: 100%;
    width: 100%;
    position: relative;
}

body > section {
    margin-top: 5.4em;
}
ul {
    list-style: none;
    padding: 0;
}

li.left {
    width: 50%;
}
li.right {
    width: 50%;
}
li.right a {
    float: right;
}
li a {
    padding: 0.5em; /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */ /* IE6-9 */
    color: #fff;
    float: left;
}
a {
	text-decoration:none;
}
section h1 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 5px;
    color: #333;
    padding-right: 10px;
    margin: 0.7% auto;
    float: left;
    width: 100%;
}

section h1 span {
    margin: 0 4.5%;
}
.loading h1 {
    margin: 5% auto;
    width: 12.8em;
}
a img {
    width: 29px;
    float: right;
    margin-right: 10%;
}

form input[type="text"] {
    height: 2em;
    font-size: 1.2em;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 90%;
}

input[type='submit'] {
    padding: 0.5em 0;
    border-radius: 50px;
    background-color: rgb(87, 38, 38);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #AF7373;
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 4%;
    font-size: 2em;
}

 header {
    width: 100%;
    font-size: 0.6em;
    min-height: 3em;
    background-color: rgba(70,171,54,0.9);
    position: fixed;
    z-index: 1;
    top: 0;
    box-shadow: 0px 1px 1.2px rgba(28, 71, 21, 0.2);
}

 header h1 {
    display: inline-block;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    font-size: 1.7em;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.loading {
   display:none;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0%;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    height: 100%;
    padding: 7%;
}


.loading-wrapper{
    display: inline-block;
    width: 100%;
    min-height: 100%;
    position: absolute;
}



.updategame {
    display:none;
}
.rankingdata {
    display:none;
}
.scheduledata {
    display:none;
}


.show {
    display:block;
}

.hide {
    display:none;
}

.is-selected { /* Old browsers */
    
}

nav {
    display: block;
    float: left;
    width: 100%;
    padding-bottom: 0.6em;
    top: 2.7em;
}
nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
nav ul li {
    display: block;
    padding: 0;
    margin: 0;
}

.game {
    width: 98.8%;
    margin: 0.9em 0.6%;
    display: inline-block;
    font-size: 0.9em;
    background: #FCFCFC;
    padding: 0.5em;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    border-radius: 1px;
}
.game a {
    margin: 0;
    color: #299200;
    text-transform: uppercase;
    float: right;
    text-decoration: underline dotted;
    text-decoration: undeline;
}
.game .team:first-child {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding-bottom: 0.5em;
}
.game a span {
    border-bottom: 1px dashed #299200;
}
.game .button {
    float: right;
    width: 100%;
}

.time {
    display: inline-block;
    float: left;
}

.time > span {
    margin: 0;
    color: #299200;
    text-transform: uppercase;
}
.teams {
    display: inline-block;
    margin: 0.5em auto;
    width: 100%;
    font-size: 1.1em;
}

.team {
    display: inline-block;
    width: 100%;
}

.left{
    float: left;
}
.right{
    float: right;
}
.team-name {
    display: inline-block;
    width: 90%;
    padding: 0.5em 0 0 0;
    margin: 0 5%;
}
.team-name span {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 0.2em;
    font-size: 1.1em;
}
.team-score {
    float: left;
    width: 100%;
    text-align: center;
}






/* LOADER */
@keyframes "pad" {
 0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
 50% {
    -webkit-transform: translate3d(0, 100px, 0);
    -moz-transform: translate3d(0, 100px, 0);
    -o-transform: translate3d(0, 100px, 0);
    -ms-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
 }
 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }

}

@-moz-keyframes pad {
 0% {
   -moz-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 50% {
   -moz-transform: translate3d(0, 100px, 0);
   transform: translate3d(0, 100px, 0);
 }
 100% {
   -moz-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

}

@-webkit-keyframes "pad" {
 0% {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 50% {
   -webkit-transform: translate3d(0, 100px, 0);
   transform: translate3d(0, 100px, 0);
 }
 100% {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

}

@-ms-keyframes "pad" {
 0% {
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 50% {
   -ms-transform: translate3d(0, 100px, 0);
   transform: translate3d(0, 100px, 0);
 }
 100% {
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

}

@-o-keyframes "pad" {
 0% {
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 50% {
   -o-transform: translate3d(0, 100px, 0);
   transform: translate3d(0, 100px, 0);
 }
 100% {
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

}

@keyframes "ball" {
 0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }
 50% {
    -webkit-transform: translate3d(140px, 100px, 0);
    -moz-transform: translate3d(140px, 100px, 0);
    -o-transform: translate3d(140px, 100px, 0);
    -ms-transform: translate3d(140px, 100px, 0);
    transform: translate3d(140px, 100px, 0);
 }
 100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }

}

@-moz-keyframes ball {
 0% {
   -moz-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 50% {
   -moz-transform: translate3d(140px, 100px, 0);
   transform: translate3d(140px, 100px, 0);
 }
 100% {
   -moz-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

}

@-webkit-keyframes "ball" {
 0% {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 50% {
   -webkit-transform: translate3d(140px, 100px, 0);
   transform: translate3d(140px, 100px, 0);
 }
 100% {
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

}

@-ms-keyframes "ball" {
 0% {
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 50% {
   -ms-transform: translate3d(140px, 100px, 0);
   transform: translate3d(140px, 100px, 0);
 }
 100% {
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

}

@-o-keyframes "ball" {
 0% {
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }
 50% {
   -o-transform: translate3d(140px, 100px, 0);
   transform: translate3d(140px, 100px, 0);
 }
 100% {
   -o-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
 }

}

#pong{
display: inline-block;
height:150px;
width:200px;
border: 1px solid #000;
box-sizing:border-box;
padding:0 10px;
top: 8em;
position: absolute;
}
#pong:before{
content:'';
font-family:monospace;
position:relative;
top:-20px;
}
.pad{
float:left;
display:block;
width:5px;
height:20px;
background-color:#000;
margin-left:10px;
/*animation*/
-webkit-animation:pad 3s infinite ease-in-out;
   -moz-animation:pad 3s infinite ease-in-out;
    -ms-animation:pad 3s infinite ease-in-out;
     -o-animation:pad 3s infinite ease-in-out;
        animation:pad 3s infinite ease-in-out;
}
.ball{
display:inline-block;
width:5px;
height:5px;
float:left;
background-color:#000;
/*animation*/
-webkit-animation:ball 3s infinite linear;
   -moz-animation:ball 3s infinite linear;
    -ms-animation:ball 3s infinite linear;
     -o-animation:ball 3s infinite linear;
        animation:ball 3s infinite linear;
}
.ball + .pad{
margin-left:140px;
/*animation*/
-webkit-animation:3s pad -.5s infinite ease-in;
   -moz-animation:3s pad -.5s infinite ease-in;
    -ms-animation:3s pad -.5s infinite ease-in;
     -o-animation:3s pad -.5s infinite ease-in;
        animation:3s pad -.5s infinite ease-in;
}
