 ul {
    list-style: none;
    padding: 0;
}
 ul li {
    display: inline-block;
    margin: 0 1%;
    background-color: red;
    padding: 0.5em;
    border-radius: 6px;
    background: #49c0f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #49c0f0 0%, #2cafe3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2cafe3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #49c0f0 0%,#2cafe3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); /* IE6-9 */
}
li a {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}
a {
	text-decoration:none;
}
td:first-child  {
    font-size: 0.8em;
    font-weight: bold;
}
section h1 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 5px;
    color: #333;
    padding-right: 10px;
    margin: 0.7% auto;
}
#loader img {
    display: block;
    margin: 5% auto;
}
section h1 span {
    margin: 0 4.5%;
}
.loading h1 {
    margin: 5% auto;
    width: 12.8em;
}
a img {
    width: 29px;
    float: right;
    margin-right: 10%;
}
form input[type="text"] {
    height: 2em;
    font-size: 1.2em;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 90%;
}
input[type='submit'] {
    padding: 0.5em 0;
    border-radius: 50px;
    background-color: rgb(87, 38, 38);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #AF7373;
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: 4%;
    font-size: 2em;
}
table {
    width: 100%;
}
th {
    background-color: #84BBE7;
    padding: 2.5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #D1D1D1;
    text-shadow: 0.5px 1px 1px #E9E9E9;
}
 header {
    width: 100%;
    background-color: #2cafe3;
    font-size: 0.6em;
    min-height: 3em;
    box-shadow: 1px 1px 1px #C9C9C9;
}
 header h1 {
    display: inline-block;
    margin: 3%;
    text-shadow: 0.5px 1px 1px #E9E9E9;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
}
td {
    padding: 10px 5px;
}
tr {
    background-color: #fff;
}
td a {
    color: blue;
}
body {
	background-color:#ededed;
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
}